*{
	margin: 0;
	padding: 0;
	font-family: Bookman Old Style;
}

header{
	background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(medbg.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
}

ul{
	float: right;
	list-style-type: none;
	margin-top: 25px;
}

ul li{
	display: inline-block;
}

ul li a{
	text-decoration: none;
	color: #fff;
	padding: 5px 20px;
	border: 1px solid transparent;
	transition: 0.5s ease;
}

ul li a:hover{
	background-color: #fff;
	color: #000;
}

.main{
	max-width: 1200px;
	margin: auto;
}

/*ul li.active a{
	background-color: #fff;
	color: #000;
}*/

.link1{
	position: absolute;
	top: 31%;
	left: 60%;
	transform: translate(-50%, -50%);
}

.link2{
	position: absolute;
	top: 31%;
	left: 86%;
	transform: translate(-50%, -50%);
}

.link3{
	position: absolute;
	top: 68%;
	left: 86%;
	transform: translate(-50%, -50%);
}

.link4{
	position: absolute;
	top: 68%;
	left: 60%;
	transform: translate(-50%, -50%);
}

.main{
	max-width: 1200px;
	margin: auto;
}

ul li.active a{
	background-color: #fff;
	color: #000;
}

.first{
	display: block;
	border-radius: 10px;
	width: 250px;
	height: 150px;
}

