*{
	margin: 0;
	padding: 0;
	font-family: Bookman Old Style;
}

header{
	background-image:linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url(girlmask.png);
	height: 100vh;
	background-size: cover;
	background-position: center;
}

ul{
	float: right;
	list-style-type: none;
	margin-top: 25px;
}

ul li{
	display: inline-block;
}

ul li a{
	text-decoration: none;
	color: #fff;
	padding: 5px 20px;
	border: 1px solid transparent;
	transition: 0.5s ease;
}

ul li a:hover{
	background-color: #fff;
	color: #000;
}

ul li.active a{
	background-color: #fff;
	color: #000;
}

.link1{
	position: absolute;
	top: 65%;
	left: 23%;
	transform: translate(-50%, -50%);
}

.link2{
	position: absolute;
	top: 87%;
	left: 42%;
	transform: translate(-50%, -50%);
}

.link3{
	position: absolute;
	top: 23%;
	left: 89%;
	transform: translate(-50%, -50%);
}

.link4{
	position: absolute;
	top: 40%;
	left: 15%;
	transform: translate(-50%, -50%);
}

.link5{
	position: absolute;
	top: 50%;
	left: 84%;
	transform: translate(-50%, -50%);
}

.link6{
	position: absolute;
	top: 15%;
	left: 11%;
	transform: translate(-50%, -50%);
}

.link7{
	position: absolute;
	top: 76%;
	left: 65%;
	transform: translate(-50%, -50%);
}


.main{
	max-width: 1200px;
	margin: auto;
}

/*ul li.active a{
	background-color: #fff;
	color: #000;
}*/

.first{
	display: block;
	border-radius: 10px;
	width: 230px;
	height: 130px;
}

.imageover{
	position: absolute;
	top: 0;
	left: 0;
	width: 230px;
	height: 130px;
	background: rgba(0,0,0,0.6);
	color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	opacity: 0;
	transition: opacity 0.25s;
	border-radius: 10px;
}

.imageover > * {
	transform: translateY(20px);
	transition: transform 0.25s;
}

.imageover:hover{
	opacity: 1;
}

.imageover:hover > * {
	transform: translateY(0);
}

.imagetitle{
	font-size: 1.4em;
	font-weight: bold;
}

