*{
	margin: 0;
	padding: 0;
	font-family: Bookman Old Style;
	box-sizing: border-box;
}

header{
	background-image:linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(warr.jpg);
	height: 100vh;
	transition: background 1s ease;
	background-attachment: fixed;
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
}

ul{
	float: right;
	list-style-type: none;
	margin-top: 25px;
}

ul li{
	display: inline-block;
}

ul li a{
	text-decoration: none;
	color: #fff;
	padding: 5px 20px;
	border: 1px solid transparent;
	transition: 0.5s ease;
}

ul li a:hover{
	background-color: #fff;
	color: #000;
}

.main{
	max-width: 1200px;
	margin: auto;
}

/*ul li.active a{
	background-color: #fff;
	color: #000;
}*/

.title{
	position: absolute;
	top: 22%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.intro{
	align-content: center;
	font-size: 22px;
	font-family: Calibri; 
	color: #000;
	position: absolute;
	top: 109%;
	left: 2%;
	right: 40%;
}

.link1{
	position: absolute;
	top: 130%;
	left: 25%;
	transform: translate(-50%, -50%);
}


/*.image{
	position: absolute;
	width: 200px;
	height: 150px;
}
*/

.first{

	display: block;
	width: 455px;
	height: 250px;
	border: 5px solid #555;
	position: relative;
	top: 0;
	left: 153%;

	/*display: block;
	width: 450px;
	height: 250px;
	border: 5px solid #555;
	position: relative;
	top: 0;
	left: 153%;*/
}

